---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Descargar Ebook Gratuito">
    <section class="bg-gray-1900 flex items-center justify-center md:min-h-screen md:py-16 py-4">
        <div class="bg-black p-12 rounded-lg shadow-md max-w-xl">
            <h2 class="mb-8 text-6xl text-center md:text-left lg:text-5xl text-white">
               Descargar Ebook
            </h2>
            
            <form action="/procesar-descarga" method="POST">
                <div class="mb-4">
                    <label for="nombre" class="block text-xl mt-2 mb-2 text-white font-semibold">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required class="py-3 w-full px-6 py-2 rounded-lg text-black bg-white border border-white focus:border-blue-400 focus:outline-none">
                </div>
                
                <div class="mb-4">
                    <label for="correo" class="block text-xl mt-2 mb-2 text-white font-semibold">Correo:</label>
                    <input type="text" id="correo" name="correo" required class="w-full px-6 py-2 rounded-lg text-black bg-white border border-white focus:border-blue-400 focus:outline-none">
                </div>

                <div class="mb-4 flex items-center ">
                    <input type="checkbox" id="politica" name="politica" required class="mr-2 h-5 w-5 border border-white rounded">
                    <label for="politica" class="text-sm text-gray-300">Acepto la <a href="/politica-de-privacidad" target="_blank" class="text-blue-400 hover:underline">política de privacidad</a>.</label>
                </div>

                <div class="mb-4">
                    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-md transition duration-300">Descargar</button>
                </div>
            </form>
        </div>
    </section>
</DefaultLayout>
