---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import CallToAction from './../components/CallToAction.astro'


---

<DefaultLayout title="Home">

  <!-- Sección Hero -->
  <Hero />

  <!-- Sección de Beneficios del Ebook -->
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">¿Por qué descargar este eBook?</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:clipboard-list" title="Instrucción Específica">
          Este ebook está diseñado específicamente para enseñarte a cerrar ventas online, abordando cada obstáculo que puedas encontrar.
        </Feature>
        <Feature icon="mdi:shield-check" title="Técnicas Comprobadas">
          Incorpora estrategias que han sido probadas en el mundo real, permitiéndote aprender de los mejores y aplicar sus técnicas a tu negocio.
        </Feature>
        <Feature icon="mdi:adjust" title="Acción Inmediata">
          Con información práctica y aplicable, puedes empezar a implementar lo aprendido tan pronto como termines de leer.
        </Feature>
        <Feature icon="mdi:archive-check" title="Ejercicios Prácticos">
          Además de teoría, encontrarás ejercicios y escenarios para practicar y mejorar tus habilidades en ventas online.
        </Feature>
        <Feature icon="mdi:comment-quote" title="Feedback Experto">
          Al contactar con un asesor, recibirás retroalimentación personalizada, permitiendo un aprendizaje más profundo y soluciones a tus dudas específicas.
        </Feature>
        <Feature icon="mdi:cog-transfer" title="Transformación de Habilidades">
          No sólo es un documento para leer, es una herramienta de transformación que te capacitará para ser más eficiente y efectivo en cerrar tus ventas online.
        </Feature>
      </div>

      <CallToAction />

    </div>
  </section>

  <!-- Testimonios (si los tienes) -->
  <!-- Asumiré que aún no tienes testimonios, por lo que omito esta sección. Si los tienes, simplemente agrégales. -->


</DefaultLayout>
