---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Politica de Privacidad">
  <h1>Politica de Privacidad</h1>

  <h2>1. Introducción</h2>
  <p>
    Gracias por usar nuestras aplicaciones. Esta Política de Privacidad se aplica a todas las aplicaciones, sitios web y servicios ofrecidos por AlphaQueb Consulting S.A.S. Nos comprometemos a proteger su privacidad y usamos su información personal de acuerdo con esta Política de Privacidad.
  </p>

  <h2>2. Información que recopilamos</h2>
  <p>
    Podemos recopilar información sobre usted de las siguientes maneras:
  </p>
  <ul>
    <li>Información que usted nos proporciona: Esto incluye cualquier información que usted ingrese en nuestras aplicaciones, como nombre, dirección de correo electrónico, contraseña y cualquier otra información personal.</li>
    <li>Información recopilada automáticamente: Registramos cierta información de manera automática, como la dirección IP, tipo de dispositivo, sistema operativo, actividades dentro de la aplicación, entre otros.</li>
  </ul>

  <h2>3. Uso de la información</h2>
  <p>
    Usamos la información que recopilamos para:
  </p>
  <ul>
    <li>Proporcionar, mejorar y desarrollar nuestras aplicaciones.</li>
    <li>Comunicarnos con usted.</li>
    <li>Investigación y análisis.</li>
  </ul>

  <h2>4. Compartir información</h2>
  <p>
    No venderemos ni compartiremos su información personal con terceros sin su consentimiento, excepto en circunstancias específicas como requisitos legales o en caso de fusiones y adquisiciones.
  </p>

  <h2>5. Sus derechos</h2>
  <p>
    Usted tiene el derecho de:
  </p>
  <ul>
    <li>Solicitar una copia de la información que tenemos sobre usted.</li>
    <li>Solicitar correcciones o eliminaciones de dicha información.</li>
    <li>Oponerse o limitar el uso que hacemos de sus datos.</li>
  </ul>

  <h2>6. Seguridad</h2>
  <p>
    Tomamos medidas de seguridad para proteger su información personal contra pérdida, robo, uso no autorizado, divulgación o modificación.
  </p>

  <h2>7. Cambios en esta Política de Privacidad</h2>
  <p>
    Podemos actualizar nuestra Política de Privacidad ocasionalmente. Si hacemos cambios significativos, le informaremos a través de las aplicaciones, sitios web o por otros medios adecuados.
  </p>

  <h2>8. Contacto</h2>
  <p>
    Si tiene preguntas o inquietudes sobre nuestra Política de Privacidad, póngase en contacto con nosotros en <a href="mailto:contacto@queb.online">contacto@queb.online</a>.
  </p>
</DefaultLayout>
