---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} Alphaqueb Consulting. Todos los derechos reservados. Desarrollado por <a href="https://alphalanding.queb.online/formulario">Alphaqueb Consulting</a>.
      </p>
    </div>
  </section>
</footer>

